@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Bitter');

body {
    font-family: 'Bitter', sans-serif;
    margin: auto;
    background: #eee;
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

img {
    width: 100%
}

main {
    max-width: 900px;
    margin: auto;
    -webkit-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
        -30px 0px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
        -30px 0px 40px rgba(0, 0, 0, 0.1);
}

.middle {
    text-align: center;
    margin: auto;
    list-style: none;
    color: rgb(247, 247, 247);
}

#navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.8);
    text-align: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Navbar links */
#navbar a {
    color: #000000;
    background-color: #fff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin: auto;
    -webkit-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
}

#navbar :hover {
    background: #36302e;
    color: #eee;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1001;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 40px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-style {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}

.title {
    text-align: center;
}

.title span {
    color: #ffff;
}

.wrapper {
    -webkit-box-shadow: 0 0 10px 0 rgba(72, 94, 116, 0.7);
    box-shadow: 0 0 10px 0 rgba(72, 94, 116, 0.7);
}

.wrapper>* {
    padding: 1em;
}

.company-info {
    background: #333333;
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #F7F7F7;
}


.contact {
    background: white;
}

.contact h3 {
    background: #ed3742;
    border-radius: 12px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1em;
    padding-bottom: 1rem;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

#landing {
    background: #ffffff
}

#landing-text {
    background: url(../images/OFFICIAL_LOGO.PNG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40vw;
    flex: 0 1 40vw;
    height: 50vh;
    margin-bottom: 10px;
}

#landing-text h2 {
    color: #888
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #888888 solid;
    display: inline-block;
    margin: 2rem 0 0;
    text-decoration: none;
    color: #333;
    background: #eee;
    -webkit-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
}

.btn:hover {
    background: #36302e;
    color: #eee;
}

#header {
    border-top: solid 1px #ffffff;
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #ffffff;
}

#header h2 {
    border-left: dotted 1px #ffffff;
    border-right: dotted 1px #ffffff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}

footer {
    padding: 2rem 1rem;
    text-align: center;
    margin: auto;
    color: #333
}

footer h3 {
    padding: 3rem;
    margin-bottom: 0;
}

a {
    padding: 0%;
}

/* DEFAULT: no arrows for mobile */
.arrows {
    display: none;
}

/* Split screen for sizes 500px and up */
@media(min-width: 500px) {
    #landing {
        /* display: flex; */
        height: 100%;
    }

    /* landing image; at the top of the page */
    /* #landing-text {
        height: 100vh;
        display: none;
    } */
}

/* for screen sizes 700px and up */
@media(min-width: 700px) {

    main {
        max-width: 900px;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: auto;
        text-align: center;
        max-width: 900px;
        -webkit-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
            -30px 0px 40px rgba(0, 0, 0, 0.1);
        box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
            -30px 0px 40px rgba(0, 0, 0, 0.1);
        padding-bottom: 4%;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 900px;
        z-index: 1001;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper>* {
        padding: 2em;
    }

    .company-info h3,
    .company-info ul,
    .title {
        text-align: left;
    }

    /* buttons */
    .btn {
        padding: 1rem 3rem;
    }

    .button {
        z-index: 1000;
        width: 30px;
        height: 30px;
        position: absolute;
        cursor: pointer;
    }

    .prev {
        z-index: 1000;
        left: 5%;
        margin-top: 25%
    }

    .next {
        z-index: 1000;
        right: 7%;
        margin-top: 25%
    }

    .button2 {
        z-index: 1000;
        width: 30px;
        height: 30px;
        position: absolute;
        cursor: pointer;
    }

    .prev2 {
        z-index: 1000;
        left: 5%;
        margin-top: 25%
    }

    .next2 {
        z-index: 1000;
        right: 7%;
        margin-top: 25%
    }

    .button1 {
        z-index: 1000;
        width: 30px;
        height: 30px;
        position: absolute;
        cursor: pointer;
    }

    .prev1 {
        z-index: 1000;
        left: 5%;
        margin-top: 25%
    }

    .next1 {
        z-index: 1000;
        right: 7%;
        margin-top: 25%
    }

    .arrows {
        display: block;
    }

    /* helper func. used to rotate images */
    .rotate90 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    /* custom for desktop view instagram*/
    .insta-container {
        padding-top: 5vh;
        padding-bottom: 10vh;
        justify-content: space-evenly;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(3, 40vh);
        grid-template-rows: repeat(3, 40vh);
        grid-gap: 10px;
    }
}